* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu {
    background-color: slateblue;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.main-menu, .btn-sction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}