@import url(/styles.css);

.settings-menu {
    background-color: slateblue;
    padding: 1rem 2rem;
    border-radius: 1rem;

    height: 300px;
    width: 500px;
    position: relative;
}

.settings-menu i {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.22rem;
    transition: .5s;
}

.settings-menu i:hover {
    color: #cd2323;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: #cd2323;
    transition: 1s;
}

.title:hover {
    color: #a50707d0;
}


.play-btn {
    display: flex;
    justify-content: space-around;
    margin:  20px;
}

.play-btn button {
    border: none;
    border-radius: 25%;
    padding: 1.2rem;
}