* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}